
<ul><h1>All Categories</h1></ul>
  <% @categories.each do |c|%>
  <li><%= link_to c.name, c%></li>
<%end%>
  <%= render partial: 'products/filter', locals: {detail: false}%>

  <h1>All Products</h1>
  <div>
  <%= render partial: 'products/product', collection: @products, locals: {detail: false}%>

  </div>

  <%= paginate @products%>
